<h1>Hello</h1>

<form style="display:flex;flex-direction:column;align-items:center;justify-content:center;" action="/search" method="get">
<label>Search and Compare 2 Drivers' Stats:</label>
    <input name="driver1" id="driver1" placeholder="Search for a Driver's name">
    <input name="driver2" id="driver2" placeholder="Search for a Driver's name">
    <input value="submit" type="Submit">
</form>