<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <h1> Compare Formula1 Drivers' Stats </h1>
        {{{body}}}
    </body>
</html>